@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: #0f172a;
  overflow-x: hidden;
}

.dark body {
  background: #020617;
  color: #f8fafc;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

